<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <!-- page wrapper -->
  <div class="page-wrapper">

    <!-- container-fuid -->
    <div class="container-fluid">
      <app-bread-crumbs></app-bread-crumbs>

      <!-- start page content -->
      <router-outlet></router-outlet>

      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              contenido de la carta...
            </div>
          </div>
        </div>
      </div> -->

      <!-- END start page content -->
    </div>
    <!-- END container-fluid -->
  </div>
  <!-- END page wrapper -->
</div>